<%- layout('layout') -%>
<div id="dashboard">
  <ul class="bots">
    <li class="header">
      <div>
        <h4>Follower Bots</h4>
      </div>
    </li>
    <% bots.forEach(function(bot){ -%>
    <li class="bot">
      <div class="is_on">
        <div class="slideButton">
          <input type="checkbox" name="on" <%=bot.on ? "checked" : ""%>/>
        </div>
      </div>
      <div class="name">
        <i class="icon-comment"></i>
        <span><%= bot.name %></span>
      </div>
      <div class="status">
        <span><%= bot.status || "unknown" %></span>
      </div>
      <div class="options">
        <a href="/configure/<%= bot.slug %>"><i class="icon-cog"></i></a>
      </div>
    </li>
    <% }) -%>
    <li class="bottom">
      <a href="/create">
        <div class="new button">
          <i class="icon-plus"></i>
          <span>Create Bot</span>
        </div>
      </a>
    </li>
  </ui>
</div>