<%- layout('layout') -%>
<div id="dashboard">
  <ul class="bots">
    <li class="header">
      <div>
        <h4>Follower Bots</h4>
      </div>
    </li>
    <% bots.forEach(function(bot){ -%>
    <li class="bot">
      <div class="is_on">
        <div class="slideButton">
          <input type="checkbox" class="on" data-bot="<%=bot.slug%>" name="on" <%=bot.running ? "checked" : ""%>/>
        </div>
      </div>
      <a href="/logs/<%=bot.slug%>">
        <div class="name">
          <i class="icon-comment"></i>
          <span><%= bot.name %></span>
        </div>
        <div class="status">
          <% if(!bot.status) { %>
            <span>status unknown</span>
          <% } else { %>
            <i class="icon-<%=bot.status.code == 0 ? 'ok' : bot.status.code == 1 ? 'warning-sign' : 'remove' %>"></i>
            <span><%= bot.status.message %></span>
          <% } %>
        </div>
        <div class="stats">
          <span>~<%= bot.stats.current_replies_per_hour %> tweets per hour</span>
        </div>
      </a>
      <div class="options">
        <a href="/configure/<%= bot.slug %>"><i class="icon-cog"></i></a>
      </div>
    </li>
    <% }) -%>
    <li class="bottom">
      <a href="/create">
        <div class="new button">
          <i class="icon-plus"></i>
          <span>Create Bot</span>
        </div>
      </a>
    </li>
  </ui>
</div>