<!DOCTYPE html>
<html>
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# quippery: http://ogp.me/ns/fb/quippery#">
    <title><%= title %> : <%= pageName %></title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <%-
      Object.keys(stylesheets).reduce(function(str,type){
        var query = (type == 'touch')
            ? 'screen and (max-width: 480px)'
            : type == 'web'
            ? 'screen and (min-width: 480px)'
            : 'screen'
        stylesheets[type].forEach(function(url){
          str += '<link rel="stylesheet" href="'+url+'" media="'+query+'"/>\n'
        })
        return str
      },"")
    %>
    <meta name="viewport" id="vp" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" />
    
    <!-- modernizr -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
  </head>
  <body>
    <header id="header">
      <div class="content">
        <div class="logo">
          <a href="/"><h1>Followers : <span><%= pageName %></span></h1></a>
        </div>
        <nav id="nav">
          <a href="/logout">
            <div class="navIcon">
              <i class="icon-off"></i>
              <span>log out</span>
            </div>
          </a>
        </nav>
      </div>
    </header>
    <div id="content">
      <%- body %>
    </div>
    <div id="loadingOverlay" class="loading">
      <div class="loading">
        <span>Loading...</span>
        <i class="icon-refresh icon-spin icon-2x"></i>
      </div>
      <div class="success">
        <span>Success!</span>
        <i class="icon-ok icon-2x"></i>
      </div>
      <div class="failed">
        <span>Failed.</span>
        <i class="icon-remove icon-2x"></i>
      </div>
    </div>
    <%-
      javascripts.map(function(url){
        return '<script src="'+url+'"></script>'
      }).join("\n")
    %>
  </body>
</html>
